## Logistic Regression
Prof. Sankhadeep Chatterjee

In [1]:
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
import pandas as pd

In [4]:
data = pd.DataFrame(iris.data,columns = iris.feature_names)

In [5]:
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
data['Species'] = pd.DataFrame(iris.target)

In [7]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [9]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [10]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter = 1000)

In [11]:
model_fit = model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test).round(2)*100)

96.0